<form method="POST" (submit)="onAsk()" >
  <div class="form-group">
      <label for="subject">Subject</label>
      <input type="text" class="form-control" name="subject" [(ngModel)]="subject">
  </div>
  <div class="form-group">
      <label for="content">Question Details</label>
      <textarea class="form-control" name="content" [(ngModel)]="content"></textarea>
  </div>
  <div class="form-group">
      <label for="category_id">Category</label>
      <select class="form-control" name="category_id" [(ngModel)]="category_id">
        <option value="" selected>Select question category</option>
        <option *ngFor="let category of categories" value="{{ category.id }}">{{ category.name }}</option>
      </select>
  </div>
  <div>
      <input type="submit" value="submit" class="btn btn-default" />
  </div>
</form>
<notifier-container></notifier-container>