<div *ngIf="!categories" class="loader"></div>
<!-- Start Questions Area -->
<div *ngIf="categories" class="question-area themeix-ptb" style="margin-bottom: -250px">
    <div class="container">
        <div class="row">
            <!-- Start Question -->
            <div class="col-md-12">
              <!-- Start Topics Link Area -->
              <div class="topics-links">
                  <div class="themeix-section-title">
                      <h2>Categories</h2>
                  </div>
                  <div class="row">
                      <div class="col-md-12">
                          <div class="single-links">
                              <ul *ngFor="let category of categories | paginate: { itemsPerPage: 5, currentPage: p, totalItems: categories.length }">
                                  <li>
                                    <a href="javascript:void(0)" (click)="showCategory(category.id)"> {{ category.name}} </a>
                                  </li>
                                  <div class="dwqa-comment-actions">
                                      <a class="label label-info" href="javascript:void()" (click)="categoryModalToggle(category.id)" data-toggle="modal" data-target="#editCategoryModal">edit</a>
                                      <a class="label label-danger" href="javascript:void()" (click)="categoryDeleteModal(category.id)"  data-toggle="modal" data-target="#deleteCategoryModal">delete</a>
                                  </div>
                                  <p> {{ category.description }} </p>
                              </ul>
                            </div>
                            <div class="dwqa-questions-footer">
                                <pagination-controls  
                                    (pageChange)="p = $event"
                                    maxSize="9"
                                    directionLinks="true"
                                    autoHide="true"
                                    responsive="true"
                                    previousLabel="Previous"
                                    nextLabel="Next"
                                    screenReaderPaginationLabel="Pagination"
                                    screenReaderPageLabel="page"
                                    screenReaderCurrentLabel="You're on page">
                                </pagination-controls>
                            </div>
                          <div class="topics-btn">
                              <a href="javascript:void()" data-toggle="modal" data-target="#addCategoryModal" class="themeix-btn hover-bg">Add category</a>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- End Topics Link Area -->
            </div>
            <!-- End Question -->
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="addCategoryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add new category</h4>
                </div>
                <div class="modal-body">
                    <form class="dwqa-content-edit-form" method="POST" (submit)="onAddCategory()" >
                        
                        <label for="name">Name</label>
                        <input type="text" name="name" [(ngModel)]="name">
                        
                        <label for="description">Description</label>
                        <textarea cols="30" rows="10" name="description" [(ngModel)]="description"></textarea>
        
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <input id="wp-submit" type="submit" value="Submit" name="wp-submit" class="btn btn-primary">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="editCategoryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Update Category</h4>
                </div>
                <div class="modal-body">
                    <form class="dwqa-content-edit-form" method="POST" [formGroup]="updateCategoryForm" (submit)="onEditCategory(categoryID)" >
                        
                        <label for="name">Name</label>
                        <input type="text" name="name" formControlName="name">
                        
                        <label for="description">Description</label>
                        <textarea cols="30" rows="10" name="description" formControlName="description"></textarea>
        
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <input id="wp-submit" type="submit" value="Submit" data-dismiss="editCategoryModal" name="wp-submit" class="btn btn-primary">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="deleteCategoryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="text-align: center;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Delete Category</h4>
                </div>
                <div class="modal-body">
                    <div><i class="fa fa-warning btn btn-danger"></i></div>
                    Are you sure you want to delete this Category?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <input id="wp-submit" (click)="deleteCategory(categoryID)" data-dismiss="modal" type="submit" value="Confirm" name="wp-submit" class="btn btn-primary">
                </div>
            </div>
        </div>
    </div>
    <notifier-container></notifier-container>
</div>
<!-- End  Questions Area -->