<notifier-container></notifier-container>
<!-- Start Login Form -->
<div class="login-form-area themeix-ptb">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="login-form">
                    <form name="registerform"  (submit)="onRegister()"  method="post">
                        <label for="username">username</label>
                        <input type="text" name="username" [(ngModel)]="username" required>
                        <label for="email">E-mail</label>
                        <input type="email" name="email" [(ngModel)]="email" required>
                        <label for="password">Password</label>
                        <input type="password" name="password" [(ngModel)]="password">
                        <label for="password_confirm">Password Again</label>
                        <input type="password" name="password_confirm" [(ngModel)]="password_confirm">
                        <input type="submit" name="wp-submit" id="wp-submit" class="themeix-btn hover-bg" value="Register" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Login Form -->