<div *ngIf="!currentUser && !categories" class="loader"></div>
<!-- Start Blog Area -->
<section *ngIf="currentUser && categories" class="blog-area themeix-ptb" style="margin-bottom : -250px">
    <div class="container">
        <div class="row">
            <!-- Start Blog Content -->
            <div class="col-md-9">
                <div class="blog-wrapper">
                    <div class="single-blog-details">
                        <div class="blog-content-desc">
                            <!-- Single Comment -->
                            <div id="comments">
                                <ul class="comments-list">
                                    <li>
                                        <div class="comment">
                                            <div class="comment-pic">
                                              <img *ngIf="!imgURL && currentUser.image" src="http://127.0.0.1:8000/images/profile/{{currentUser.image}}" alt="comment">
                                              <img *ngIf="!imgURL && !currentUser.image" src="../../../assets/images/avatar.jpg" alt="comment">
                                              <img *ngIf="imgURL" src="{{imgURL}}" alt="comment">
                                                <form method="POST" (submit)="onUpdatePic()" >
                                                  <label for="update-pic" class="update-pic">
                                                      <i class="fa fa-camera" aria-hidden="true"></i> Update
                                                  </label>
                                                  <input type="file" 
                                                    [(ngModel)]="Image" 
                                                    name="Image" 
                                                    accept="image/*" 
                                                    id="update-pic"
                                                    accept='image/*' 
                                                    (change)="handleFileInput($event.target.files)">
                                                    <div class="btn-group btn-group-justified"> 
                                                        <div class="btn-group" role="group">
                                                            <input *ngIf="imgURL" type="submit" value="OK" class="btn btn-success" />
                                                        </div>
                                                        <div class="btn-group" role="group">
                                                            <input *ngIf="imgURL" type="button" value="NO" class="btn btn-danger" (click)="cancel_upload()" />
                                                        </div>
                                                    </div>
                                                </form> 
                                              <!-- </a> -->
                                            </div>
                                            <div class="comment-text">
                                                <h1>{{currentUser.fullname | uppercase}}</h1>
                                                <p>{{currentUser.bio}}</p>
                                                <a href="javascript:void()" (click)="edit()" class="comment-reply">Edit</a>
                                                <ul>
                                                    <li><span style="font-weight: bold">Birthdate : </span><span>{{birthdate}}</span></li> 
                                                    <li><span style="font-weight: bold">Company : </span><span>{{currentUser.company }}</span></li> 
                                                    <li><span style="font-weight: bold">Website : </span><span>{{currentUser.website }}</span></li>
                                                    <li><span style="font-weight: bold">Email : </span><span>{{currentUser.email}}</span></li> 
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <!-- End Single Comment -->
                            <form [ngClass]="{hidden : MyClass}" id="edit_profile_form" class="dwqa-content-edit-form" method="POST" [formGroup]="updateForm" (submit)="onUpdate(currentUser.id)" >
    
                                <label for="fullname">Fullname</label>
                                <input type="text" name="fullname" formControlName="fullname">
                                
                                <label for="email">Email</label>
                                <input type="email" name="email" formControlName="email">
                            
                                <label for="username">Username</label>
                                <input type="text" name="username" formControlName="username">
                            
                                <label for="company">Company</label>
                                <input type="text" name="company" formControlName="company">
                            
                                <label for="birthdate">Birthdate</label>
                                <input type="date" name="birthdate" formControlName="birthdate">
                            
                                <label for="website">Website</label>
                                <input type="text" name="website" formControlName="website">
                            
                                <label for="bio">bio</label>
                                <textarea name="bio" formControlName="bio" cols="30" rows="6"></textarea>
                            
                                <input id="wp-submit" type="submit" value="Submit" name="wp-submit" class="themeix-btn hover-bg">
                              </form>
                              <notifier-container></notifier-container>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Blog Content -->
            <!-- Start Blog Sidebar -->
            <div class="col-md-3">
                <div class="row">
                    <div class="blog-sidebar">
                        <div class="col-md-12 col-sm-6">
                            <aside id="dwqa-categories-2" class="widget widget_categories dwqa_widget dwqa_widget_categories sidebar-list">
                                <h2 class="widget-title">Topics Categories</h2>
                                <ul>
                                  <li *ngFor="let category of categories"><a href="javascript:void()">{{ category.name }}</a></li>
                                </ul>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Blog Sidebar -->
        </div>
    </div>
</section>
<!-- End Blog Area -->