<div *ngIf="!topic && !categories" class="loader"></div>
<!-- Start Answers Area -->
<div *ngIf="topic && categories" class="answers-area themeix-ptb">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="answers-wrapper">
                    <div class="dwqa-single-question">
                        <div class="dwqa-breadcrumbs">
                            <a href="/forum/questions">Questions</a>
                            <span class="dwqa-sep"> › </span>
                            <a href="#">Category : {{ topic.category.name }}</a>
                            <span class="dwqa-sep"> › </span>
                            <span class="dwqa-current">{{ topic.subject }}</span>
                        </div>
                        <!-- Start Question Item -->
                        <div class="dwqa-question-item">
                            <div class="dwqa-question-meta">
                                <span>
                                    <a href="#">
                                        <img class="avatar avatar-48 photo" *ngIf="topic.user.image" style="width: 54px; height: 54px; object-fit: cover;" alt="authors" src="http://127.0.0.1:8000/images/profile/{{ topic.user.image }}" />
                                        <img class="avatar avatar-48 photo" *ngIf="!topic.user.image" style="width: 54px; height: 54px; object-fit: cover;" alt="authors" src="http://127.0.0.1:8000/images/profile/author2.png" />
                                        {{topic.user.username}}
                                    </a>
                                    asked {{ date }}
                                </span>
                                <span *ngIf="topic.user.id === currentUserId" class="dwqa-question-actions">
                                    <a class="label label-info" href="javascript:void()" data-toggle="modal" data-target="#editTopicModal">edit</a>
                                    <a class="label label-danger" href="javascript:void()" data-toggle="modal" data-target="#deleteTopicModal">delete</a>
                                </span>
                            </div>
                            <div class="dwqa-question-content">
                                <p>{{ topic.content }}</p>
                            </div>
                            <footer class="dwqa-question-footer">
                                <div class="dwqa-question-meta"></div>
                            </footer>
                        </div>
                        <!-- End Questions Ityem -->
                        <!-- Start Answer item -->
                        <div class="dwqa-answers">
                            <div *ngIf="replies.length" class="dwqa-answers-title"><span>{{ replies.length }} Answers</span></div>
                            <div class="dwqa-answers-list">
                                <div *ngFor="let reply of replies;let index = index;" class="dwqa-answer-item dwqa-best-answer" id="answer-{{ reply.id }}">
                                    <div class="dwqa-answer-vote">
                                        <span class="dwqa-vote-count">{{countVote[reply.id]}}</span>
                                        <a class="dwqa-vote dwqa-vote-up" href="#">Vote Up</a>
                                        <a class="dwqa-vote dwqa-vote-down" href="#">Vote Down</a>
                                    </div>
                                    <span *ngIf="reply.is_correct" class="dwqa-pick-best-answer">Best Answer</span>
                                    <div class="dwqa-answer-meta">
                                        <span>
                                            <a href="#">
                                                <img *ngIf="reply.user.image" style="width: 54px; height: 54px; object-fit: cover;" alt="authors" src="http://127.0.0.1:8000/images/profile/{{ reply.user.image }}" />
                                                <img *ngIf="!reply.user.image" style="width: 54px; height: 54px; object-fit: cover;" alt="authors" src="http://127.0.0.1:8000/images/profile/author2.png" />
                                               {{reply.user.username}}
                                            </a>
                                            answered {{ replyDate[reply.id] }}
                                        </span> 
                                        <span *ngIf="reply.user.id === currentUserId" class="dwqa-answer-actions">
                                            <a class="label label-info" href="javascript:void()" (click)="replyFormToggle(reply.id)" data-toggle="modal" data-target="#editReplyModal">edit</a>
                                            <a class="label label-danger" href="javascript:void()" (click)="replyDeleteModal(reply.id)"  data-toggle="modal" data-target="#deleteReplyModal">delete</a>
                                        </span>
                                    </div>
                                    <div class="dwqa-answer-content">
                                        <p>{{ reply.content }}</p>
                                    </div>
                                    <div class="dwqa-comments">
                                        <div class="dwqa-comments-list">
                                            <div class="dwqa-comment {{ comment.id }}" *ngFor="let comment of reply.comments">
                                                <div class="dwqa-comment-meta">
                                                    <a href="#">
                                                        <img class="avatar avatar-16 photo" *ngIf="comment.user.image" style="width: 12px; height: 12px; object-fit: cover;" alt="authors" src="http://127.0.0.1:8000/images/profile/{{ comment.user.image }}" />
                                                        <img class="avatar avatar-16 photo" *ngIf="!comment.user.image" style="width: 12px; height: 12px; object-fit: cover;" alt="authors" src="http://127.0.0.1:8000/images/profile/author2.png" />
                                                        {{ comment.user.username }}
                                                    </a>
                                                    replied {{commentDate[comment.id]}}
                                                    <div *ngIf="comment.user.id === currentUserId" class="dwqa-comment-actions">
                                                        <a class="label label-info" href="javascript:void()" (click)="commentModalToggle(comment.id)" data-toggle="modal" data-target="#editCommentModal">edit</a>
                                                        <a class="label label-danger" href="javascript:void()" (click)="commentDeleteModal(comment.id)"  data-toggle="modal" data-target="#deleteCommentModal">delete</a>
                                                    </div>
                                                </div>
                                                <p>{{ comment.content }}</p>
                                            </div>
                                            <!-- #comment-## -->
                                            <a (click)="commentFormToggle(reply.id)">add a comment</a>
                                            <form [ngClass]="{hidden : MyClass[reply.id]}" id="comment_form_{{reply.id}}" method="POST" (submit)="onAddComment(reply.id, index)" >
                                                <div class="form-group">
                                                    <label for="comment_content">Comment Details</label>
                                                    <textarea class="form-control" name="comment_content{{index}}" [(ngModel)]="comment_content[index]"></textarea>
                                                </div>
                                                <div>
                                                    <input type="submit" value="submit" class="btn btn-default" />
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Answer item -->
                            </div>
                            <form method="POST" (submit)="onAddReply()" >
                                <div class="form-group">
                                    <label for="content">Reply Details</label>
                                    <textarea class="form-control" name="content" [(ngModel)]="content"></textarea>
                                </div>
                                <div>
                                    <input type="submit" value="submit" class="btn btn-default" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Start Blog Sidebar -->
            <div class="col-md-3">
                <div class="row">
                    <div class="blog-sidebar">
                        <div class="col-md-12 col-sm-6">
                            <aside id="dwqa-categories-2" class="widget widget_categories dwqa_widget dwqa_widget_categories sidebar-list">
                                <h2 class="widget-title">Topics Categories</h2>
                                <ul>
                                    <li *ngFor="let category of categories"><a href="javascript:void()">{{ category.name }}</a></li>
                                </ul>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Blog Sidebar -->
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="editTopicModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Update your Topic</h4>
                </div>
                <div class="modal-body">
                    <form class="dwqa-content-edit-form" method="POST" [formGroup]="updateTopicForm" (submit)="onEditTopic(topic.id)" >
                        <label for="subject">Subject</label>
                        <input type="text" name="subject" formControlName="subject">
                        
                        <label for="content">Question Details</label>
                        <textarea cols="30" rows="10" name="content" formControlName="content"></textarea>
        
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <input id="wp-submit" type="submit" value="Submit" data-dismiss="editTopicModal" name="wp-submit" class="btn btn-primary">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="deleteTopicModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="text-align: center;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Delete your Topic</h4>
                </div>
                <div class="modal-body">
                    <div><i class="fa fa-warning btn btn-danger"></i></div>
                    Are you sure you want to delete this topic? 
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <input id="wp-submit" (click)="deleteTopic(topic.id)" data-dismiss="modal" type="submit" value="Confirm" name="wp-submit" class="btn btn-primary">
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="editReplyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Update your Reply</h4>
                </div>
                <div class="modal-body">
                    <form class="dwqa-content-edit-form" method="POST" [formGroup]="updateReplyForm" (submit)="onEditReply(replyID)" >
                        
                        <label for="content">Reply Details</label>
                        <textarea cols="30" rows="10" name="content" formControlName="content"></textarea>
        
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <input id="wp-submit" type="submit" value="Submit" data-dismiss="editReplyModal" name="wp-submit" class="btn btn-primary">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="deleteReplyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="text-align: center;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Delete your Reply</h4>
                </div>
                <div class="modal-body">
                    <div><i class="fa fa-warning btn btn-danger"></i></div>
                    Are you sure you want to delete this Reply?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <input id="wp-submit" (click)="deleteReply(replyID)" data-dismiss="modal" type="submit" value="Confirm" name="wp-submit" class="btn btn-primary">
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="editCommentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Update your Comment</h4>
                </div>
                <div class="modal-body">
                    <form class="dwqa-content-edit-form" method="POST" [formGroup]="updateCommentForm" (submit)="onEditComment(commentID)" >
                        
                        <label for="content">Comment Details</label>
                        <textarea cols="30" rows="10" name="content" formControlName="content"></textarea>
        
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <input id="wp-submit" type="submit" value="Submit" data-dismiss="editCommentModal" name="wp-submit" class="btn btn-primary">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="deleteCommentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="text-align: center;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Delete your Comment</h4>
                </div>
                <div class="modal-body">
                    <div><i class="fa fa-warning btn btn-danger"></i></div>
                    Are you sure you want to delete this Comment?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <input id="wp-submit" (click)="deleteComment(commentID)" data-dismiss="modal" type="submit" value="Confirm" name="wp-submit" class="btn btn-primary">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Answers Area -->
<notifier-container></notifier-container>