<div *ngIf="topic">
  <table class="table table-bordered">
    <thead>
    <tr>
        <th>Topic</th>
        <th>Content</th>
        <th>Date</th>
        <th>views</th>
        <th>replies</th>
        <th>status</th>
        <th>category</th>
        <th>user</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ topic.subject }}</td>
            <td>{{ topic.content }}</td>
            <td>{{ topic.date }}</td>
            <td>{{ topic.views }}</td>
            <td>{{ topic.replies.length }}</td>
            <td>{{ topic.status }}</td>
            <td>{{ topic.category.name }}</td>
            <td>{{ topic.user.username }}</td>
        </tr>
      </tbody>
    </table>
    <ul *ngFor="let reply of replies;let index = index;" >
      <li *ngIf="replies.length == j" style="color: red">{{ reply.id }} -- {{ reply.content }} -- {{ reply.date }} -- is correct : {{ reply.is_correct }} -- user : {{ reply.user.username }} -- {{countVote[reply.id]}}
        <ul>
          <li style="margin-left: 20px; color: blue" *ngFor="let comment of reply.comments">
            {{ comment.id }} -- {{ comment.content }} -- {{ comment.date }} -- user : {{ comment.user.username }}
          </li>
        </ul>
        <a (click)="commentFormToggle(reply.id)">add a comment</a>
        <form [ngClass]="{hidden : MyClass[reply.id]}" id="comment_form_{{reply.id}}" method="POST" (submit)="onAddComment(reply.id, index)" >
          <div class="form-group">
              <label for="comment_content">Comment Details</label>
              <textarea class="form-control" name="comment_content{{index}}" [(ngModel)]="comment_content[index]"></textarea>
          </div>
          <div>
              <input type="submit" value="submit" class="btn btn-default" />
          </div>
        </form>
      </li>
    </ul>
    <form method="POST" (submit)="onAddReply()" >
      <div class="form-group">
          <label for="content">Reply Details</label>
          <textarea class="form-control" name="content" [(ngModel)]="content"></textarea>
      </div>
      <div>
          <input type="submit" value="submit" class="btn btn-default" />
      </div>
    </form>
    <notifier-container></notifier-container>
</div>