<!-- Start Header -->
<header *ngIf="logged || !auth.isAuthenticated()">
    <!-- Start Mainmenu -->
    <div class="menu-area navbar-fixed-top ">
        <div class="container">
            <div class="row">
                <div class="mainmenu-wrapper">
                    <!-- Start Header Logo -->
                    <div class="col-xs-12 col-md-3">
                        <div class="header-logo">
                            <a href="/"><img src="../../assets/images/logo-f.png" alt="logo"></a>
                        </div>
                    </div>
                    <!-- End Header Logo -->
                    <!-- Start Navigation -->
                    <div class="col-xs-12 col-md-9">
                        <div class="mainmenu">
                            <div class="navbar navbar-right">
                                <div class="navbar-header visible-xs">
                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                                <div class="collapse navbar-collapse top-menu">
                                    <nav>
                                        <ul class="nav navbar-nav">
                                            <li><a href="/">Home<span>Get everything</span></a></li>
                                            <li><a href="javascript:void(0)">About<span>Know about us</span></a></li>								
                                            <li [class.active]="this.router.url == '/forum/questions' || this.router.url == '/forum/ask-question'"><a href="javascript:void(0)">Questions<span>Ask Your Question</span></a>
                                                <ul class="dropdown">
                                                    <li [class.active]="this.router.url == '/forum/questions'"><a href="/forum/questions"> <span><i class="fa fa-question-circle"></i></span>All Questions</a></li>														
                                                    <li [class.active]="this.router.url == '/forum/ask-question'"><a href="/forum/ask-question"><span><i class="fa  fa-question-circle-o"></i></span>Ask Questions</a></li>
                                                    </ul>
                                                </li>
                                            <li><a href="javascript:void(0)">Blog<span>All Blog Posts</span></a></li>
                                            <li *ngIf="!isAdmin && !isModerator"><a href="javascript:void(0)">Contact<span>Let us contact</span></a></li>
                                            <li *ngIf="!auth.isAuthenticated()" [class.active]="this.router.url == '/user/login'"><a href="/user/login"><span><i class="fa fa-sign-in"></i></span>Login</a></li>
                                            <li *ngIf="!auth.isAuthenticated()" [class.active]="this.router.url == '/user/register'"><a href="/user/register"><span><i class="fa fa-registered"></i></span>Register</a></li>
                                            <li *ngIf="auth.isAuthenticated() && (isAdmin || isModerator)" [class.active]="this.router.url == '/forum/categories'"><a href="/forum/categories">Categories<span>Manage categories</span></a></li>
                                            <li *ngIf="auth.isAuthenticated() && (isAdmin || isModerator)" [class.active]="this.router.url == '/user/users'"><a href="/user/users"><span><i class="fa fa-users"></i></span>Users</a></li>
                                            <li *ngIf="auth.isAuthenticated()" [class.active]="this.router.url == '/user/profile'"><a href="/user/profile"><span><i class="fa fa-user"></i></span> Profile</a></li>
                                            <li *ngIf="auth.isAuthenticated()"><a href="javascript:void(0)" (click)="onLogout()"><span><i class="fa fa-sign-out"></i></span>Logout</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Navigation -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Mainmenu -->
    <!-- Start Mobile Menu Area -->
    <div class="col-xs-12 visible-xs">
        <div class="mobile-menu">
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="javascript:void(0)">About</a></li>								
                    <li [class.active]="this.router.url == '/forum/questions' || this.router.url == '/forum/ask-question'"><a href="javascript:void(0)">Questions</a>
                        <ul>
                            <li [class.active]="this.router.url == '/forum/questions'"><a href="/forum/questions"> <span><i class="fa fa-question-circle"></i></span> All Questions</a></li>														
                            <li [class.active]="this.router.url == '/forum/ask-question'"><a href="/forum/ask-question"><span><i class="fa  fa-question-circle-o"></i></span> Ask Questions</a></li>
                            </ul>
                        </li>
                    <li><a href="javascript:void(0)">Blog</a></li>
                    <li *ngIf="!isAdmin && !isModerator"><a href="javascript:void(0)">Contact</a></li>
                    <li *ngIf="!auth.isAuthenticated()" [class.active]="this.router.url == '/user/login'"><a href="/user/login"><span><i class="fa fa-sign-in"></i></span> Login</a></li>
                    <li *ngIf="!auth.isAuthenticated()" [class.active]="this.router.url == '/user/register'"><a href="/user/register"><span><i class="fa fa-registered"></i></span> Register</a></li>
                    <li *ngIf="auth.isAuthenticated() && (isAdmin || isModerator)" [class.active]="this.router.url == '/forum/categories'"><a href="/forum/categories">Categories</a></li>
                    <li *ngIf="auth.isAuthenticated() && (isAdmin || isModerator)" [class.active]="this.router.url == '/user/users'"><a href="/user/users"><span><i class="fa fa-users"></i></span>Users</a></li>
                    <li *ngIf="auth.isAuthenticated()" [class.active]="this.router.url == '/user/profile'"><a href="/user/profile"><span><i class="fa fa-user"></i></span> Profile</a></li>
                    <li *ngIf="auth.isAuthenticated()"><a href="javascript:void(0)" (click)="onLogout()"><span><i class="fa fa-sign-out"></i></span> Logout</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- End MObile Menu Area -->
</header>
<!-- End Header -->
<section *ngIf="logged || !auth.isAuthenticated()" style="margin-bottom: 250px">
    <router-outlet></router-outlet>
</section>
<!-- Start Footer Area -->
<footer *ngIf="logged || !auth.isAuthenticated()">
    <div class="footer-area themeix-ptb">
        <div class="container">
            <div class="row">
                <div class="footer-wrapper">
                    <div class="col-sm-6 col-md-3">
                        <div class="single-footer">
                            <h3 class="footer-heading">About Us</h3>
                            <div class="single-footer-text">
                                <p>Vestibulum quis cursus mi, vitae mollis metus.Nulam eu lects gravida, bibendum enim in, vulputate erat. Vestibulum ullamcorper ornare magna</p>
                            </div>
                            <div class="social-links">
                                <ul>
                                    <li><a href="javascript:void(0)"><i class="fa fa-twitter"></i></a></li>
                                    <li class="fb-link"><a href="javascript:void(0)"><i class="fa fa-facebook"></i></a></li>
                                    <li class="gp-link"><a href="javascript:void(0)"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="single-footer">
                            <h3 class="footer-heading">Recent Products</h3>
                            <div class="footer-list">
                                <ul>
                                    <li><a target="_blank" href="https://themeforest.net/item/hostix-responsive-parallax-hosting-website-html5-template/19747783">Hostix</a></li>
                                    <li><a target="_blank" href="https://themeforest.net/item/cleanhost-responsive-web-hosting-html5-template/19950579">Cleanhost</a></li>
                                    <li><a target="_blank" href="https://themeforest.net/item/law-firm-lawyer-business-psd-template/19906137">Law Firm</a></li>
                                    <li><a target="_blank" href="https://themeforest.net/item/etube-video-blog-site-psd-template/19821837">eTube</a></li>
                                    <li><a href="javascript:void(0)">Documenter</a></li>
                                    <li><a href="javascript:void(0)">Spa Care</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="single-footer">
                            <h3 class="footer-heading">get support</h3>
                            <div class="footer-list">
                                <ul>
                                    <li><a href="javascript:void(0)">Our Forum</a></li>
                                    <li><a href="javascript:void(0)">Facebook Page</a></li>
                                    <li><a href="javascript:void(0)">Live Chat</a></li>
                                    <li><a href="javascript:void(0)">Toll Free Number</a></li>
                                    <li><a href="javascript:void(0)">Support Agent</a></li>
                                    <li><a href="javascript:void(0)">Tickets</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="single-footer">
                            <h3 class="footer-heading">get support</h3>
                            <p>Don’t miss our latest realeses and important updates</p>
                            <div class="subscribe-form">
                                <form action="#">
                                    <input type="email" name="subscribe" id="subscribe" class="form-control" placeholder="Email" required>
                                    <button type="submit" class="hover-bg">Go</button>
                                </form>
                                <span>We never do spam with you</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Start Footer Bottom Area -->
    <div class="footer-bottom-area themeix-pb">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="footer-bottom">
                        <div class="footer-logo">
                            <a href="javascript:void(0)"><img src="../../assets/images/footer-logo-f.png" alt="logo"></a>
                        </div>
                        <div class="footer-links">
                            <ul>
                                <li><a href="javascript:void(0)">Privacy Policy</a></li>
                                <li><a href="javascript:void(0)">Refund Policy</a></li>
                                <li><a href="javascript:void(0)">Disclaimer</a></li>
                            </ul>
                        </div>
                        <div class="copyright-text">
                            <p>&copy; 2019 - All rights reserved. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer Bottom Area -->
    <!-- Start Scroll To Top -->
    <div class="scroll-top">
        <div class="scroll-icon">
            <i class="fa fa-angle-up"></i>
        </div>
    </div>
    <!-- End Scroll To Top -->
</footer>
<!-- End Footer Area -->