<form method="post" (submit)="onLogin()">
   <div class="form-group">
       <label for="username">username</label>
       <input type="text" [(ngModel)]="username" name="_username" value="" required="required" autocomplete="username" class="form-control"  placeholder="">
   </div>
   <div class="form-group">
       <label for="password">password</label>
       <input type="password" [(ngModel)]="password" name="_password" required="required" autocomplete="current-password" class="form-control"  placeholder=""/>
   </div>
   <div class="form-group">
       <div class="checkbox">
           <label for="remember_me"><input type="checkbox" id="remember_me" name="_remember_me" value="on" /> remember me</label>
       </div>
   </div>
   <input type="submit" id="_submit" name="_submit" value="Login" class="btn btn-info"/>
</form>