<notifier-container></notifier-container>
<!-- Start Login Form -->
<div class="login-form-area themeix-ptb" style="margin-bottom: -250px">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="login-form">
                    <form name="loginform" id="loginform" (submit)="onLogin()" method="post">
                        <label for="username">username</label>
                        <input type="text" [(ngModel)]="username" name="_username" required>

                        <label for="password">password</label>
                        <input type="password" [(ngModel)]="password" name="_password" required>

                        <div class="form-group">
                            <input id="rememberme" type="checkbox" name="rememberme">
                            <label for="rememberme">Remember Me</label>
                        </div>
                        <input id="wp-submit" type="submit" value="Login" name="wp-submit" class="themeix-btn hover-bg">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Login Form -->